gradio
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
langgraph
beautifulsoup4
fastapi
flask
python-dotenv
requests
gunicorn
duckduckgo-search

langchain_google_community
googlemaps